.jumbotron {

    background-color:#f28e1c;
    background-image: url('/header-back.png');
    color: black;
    font-size: 1.5rem;
    margin-top: 50px;
}

.btn {
    background-color: #6b3a01;
}

.btn:hover {
    background-color: rgb(252, 172, 0);
    border: solid 1px black;
}
.inicio-head{
    border: solid 1px black;
}
.bloque-beer{
    margin-left: 10px;
    margin-right: 20px;
}
.card-hotel {
    display: flex;
    flex: 1 300px;
    margin: 5px;
    background-color: #2b2723;
    justify-content: center;
    border-radius: 0;
    padding: 0 5px 0 5px;
    color: white
}
.btn-compra{
    width: 80%;
    background-color: #6b3a01;
    margin: 0 10% 15px 10%;
    color: white;
    font-size: 1.3rem;
}
.btn-head{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
footer {
    padding: 10px 10px 0px 10px;
    background-color: #2b2723;
    margin-bottom: 0px;
    margin: 10px;
    font-size: 1.4rem;
    border-radius: 10px;
    color: aliceblue;
}
address{
    border: solid 1px black;
    padding: 10px;
}